<div class="map">
    <div class="container">
        <button class="btn1" type="button" (click)="btn1()">Boton 1</button>
        <button class="btn2" type="button" (click)="btn2()">Boton 2</button>
        <button class="btn3" type="button" (click)="btn3()">Boton 3</button>  
    </div>

    <div class="mensaje" [ngSwitch]="valor">
        <div *ngSwitchCase="0">
            <h3>No se presiono Ningun Boton</h3>
        </div>

        <div *ngSwitchCase="1">
            <h3>Boton 1</h3>
            <p>
                Hola Soy el Boton 1 Gusto en conocerte :v
            </p>
        </div>

        <div *ngSwitchCase="2">
            <h3>Boton 2</h3>
            <p>
                Hola Soy el Boton 2 Ya llegaste hasta aqui eso esta muy bien
            </p>
        </div>

        <div *ngSwitchDefault>
            <h3>Boton 3</h3>
            <p>
                Soy el valor por defecto Gusto en conocerte 
            </p>
        </div>
    </div>
</div>

