* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    padding: 20px;
    font-size: 10px;
    height: 10px;
}
.map{
    width: 100%;
    height: 800px;
    background-color: gray;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.container {
    width: 50%;
    height: 80px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

.mensaje {
    background-color: cadetblue;
    width: 50%;
    text-align: center;
}

p {
    background-color: lightgreen;
}